// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3";

#news-content {
  margin-left: 200px;
}

.adds {
  width: 50px;
}

.my-btn {
  @include border-radius(25px);
}

#btn-prev {
  margin-left: 150px;
  margin-top: 75px;
}
#btn-next {
  margin-left: 50px;
  margin-top: 75px;
}

.floating-left {
  float: left;
}

.head {
  margin-left: 170px;
}

.peginate {
  margin-left: 150px;
}

.container_book {
    margin-left: 150px;
    width: 450px;
}
.container_book ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.container_book ul li {
    width: 150px;
    height: 250px;
    float: left;
}

ul.hr {
  margin: 0;
  padding: 4px;
}
ul.hr li {
  display: inline;
  margin-right: 5px;
  padding: 3px;
}
ul.hr li b {
  font-size: 170%;
}

.checkout_adrs {
  margin-right: 150px;
}
