// Place all the styles related to the checkouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table {
  margin-top: 200px;
}

.hide {
  visibility: hidden;
}

.not-saved {
  color: red;
}

.exp-date {
  width: 50px;
}

.current-link {
  text-decoration: underline;
}

.errors {
  color: red;
}